body {
    font-family: Roboto, sans-serif;
}
.navbar {
    background-color: #581d1d;
}
#cabecalho .nav .nav-link.active {
    background-color: white;
    color: #e15f41;

}
#cabecalho .nav .nav-link, .navbar-brand, .navbar-brand:hover
.nav-cardapio .nav-link.active:hover {
    color: white;

}
.navbar-brand {
    font-family: Pacifico, cursive;
}
.navbar-toggler {
    background-color: #ffeae6;
}
.section-title {
    font-family: Pacifico, cursive;
}
.section-title span {
    color: #e15f41;
}
#sobre-o-restaurante, #cardapio{
    background-color: #ffeae6;
}
.text-colored {
    color: #581d1d;
}
.nav-cardapio .nav-link.active, 
#fale-conosco button
{
    background-color: #581d1d;
    color: white;
}
.nav-cardapio .nav-link:hover {
    color: #581d1d;
}
.social-links li {
    list-style: none;
    display: inline;
}
.social-links a {
    text-decoration: none;
}
footer {
    background-color: #581d1d;
    color: antiquewhite;
    text-align: center;
    padding: 5px;
}
footer a {
color: white;
font-weight: bolder;
text-decoration: none;
}
footer a:hover{
    color: #FF9000;
}
#imagem {
    height: 300px;
    width: 150px;
}
@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
    
}